# .gitignore

# -- Big folders
local
config
history/*
vim/plugged

# -- Private
gnupg
config/spotifile/spotifile.conf
config/spotify/Users/wellspring-user/prefs

# -- Logs
**/*.log
weechat/logs/*

# -- tmp
vim/view

# -- Other
fish/fishd.*
config/Kingsoft/Office.conf
config/deadbeef/config
config/gtk-2.0/gtkfilechooser.ini
config/qalculate/qalculate-gtk.cfg
config/spacefm/session
config/vlc/vlc-qt-interface.conf
pentadactyl/info/default/cache
pentadactyl/info/default/local-marks
pentadactyl/info/default/register-ring
pentadactyl/info/default/registers
vim/.netrwhist
vim/autoload/plug.vim.old
vim/clipboard.txt
weechat/menu.conf
weechat/weechat_fifo_*

