[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/code-overview"]
	path = bundle/code-overview
	url = https://github.com/Twinside/vim-codeoverview.git
