# .gitignore

# -- Big folders
local
config
history
vim/plugged

# -- Logs
**/*.log
weechat/logs/*

# -- tmp
vim/view

# -- Other
fish/fishd.*
pentadactyl/info/default/cache
pentadactyl/info/default/local-marks
pentadactyl/info/default/register-ring
pentadactyl/info/default/registers
vim/.netrwhist
vim/autoload/plug.vim.old
vim/clipboard.txt
weechat/menu.conf
weechat/weechat_fifo_*

