fish/fish_history*
fish/fishd.*
vim/.netrwhist
vim/plugged
vim/view
vim/clipboard.txt
vim/autoload/plug.vim.old
pentadactyl/info/default/command-history
pentadactyl/info/default/local-marks
pentadactyl/info/default/register-ring
pentadactyl/info/default/registers
weechat/weechat_fifo_*
weechat/weechat.log
weechat/urls.log
weechat/logs/*
irssi/away.log
