[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/code-overview"]
	path = bundle/code-overview
	url = https://github.com/Twinside/vim-codeoverview.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/yaml"]
	path = bundle/yaml
	url = https://github.com/lukeorland/yaml-vim
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/delimit-mate"]
	path = bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/html-autoclosetag"]
	path = bundle/html-autoclosetag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag
[submodule "bundle/color-lucius"]
	path = bundle/color-lucius
	url = https://github.com/vim-scripts/Lucius
[submodule "bundle/color-wombat"]
	path = bundle/color-wombat
	url = https://github.com/mikesimons/vim-color-wombat
[submodule "bundle/color-wombat256"]
	path = bundle/color-wombat256
	url = https://github.com/vim-scripts/wombat256.vim
[submodule "bundle/color-railscasts"]
	path = bundle/color-railscasts
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "bundle/vimball"]
	path = bundle/vimball
	url = https://github.com/vim-scripts/Vimball
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule "bundle/google-translate"]
	path = bundle/google-translate
	url = https://github.com/mattn/googletranslate-vim
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/bclose"]
	path = bundle/bclose
	url = https://github.com/rbgrouleff/bclose.vim
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/rvm"]
	path = bundle/rvm
	url = https://github.com/tpope/vim-rvm
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler
[submodule "bundle/rake"]
	path = bundle/rake
	url = https://github.com/tpope/vim-rake
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "bundle/afterimage"]
	path = bundle/afterimage
	url = https://github.com/tpope/vim-afterimage
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/fuzzy-finder"]
	path = bundle/fuzzy-finder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "bundle/indexed-search"]
	path = bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/pix/vim-align
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "bundle/quicksilver"]
	path = bundle/quicksilver
	url = https://github.com/Bogdanp/quicksilver.vim
[submodule "bundle/lorem-ipsum"]
	path = bundle/lorem-ipsum
	url = https://github.com/vim-scripts/loremipsum
